*{
	display:block;
	float: left;
    display: block;
}

html
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	color: #fff;
	font-weight: bold;
}
	
header, nav, section, article, aside, footer
	{
		border:1px solid grey;
		margin:5px;
		padding:8px;
	}

header
	{
		width: 900px;
		height: 100px;
		background:rgb(102,102,102);
	    font-size:46px;
	}

	
nav
	{
		clear: both;
		width: 200px;
		height: 400px;
		font-size:12px;
		
	}

section
	{
		width: 400px;
    	height: 400px;
	}
	
section > header
{
	    width: 93%;
		font-size:14px;
	}
	
article
	{
		width: 93%;
    	height: 45%;
	}
	
section > footer
	{
		width: 93%;
    	height: 9%;
	}
	
aside
	{
		width: 244px;
    	height: 400px;
		font-size:10px;
		background:rgb(102,102,102);
	}
	
footer
	{    
		width: 900px;
		height: 30px;
		clear: both;
		background:rgb(51,51,51);
		font-size:10px;
	}
	
header , footer
	{
			display: flex;
			align-items: center;
			justify-content: center;
			
	}

[title$="r"]
	{
		background:#F50087;

	}

title$="l"]:not(title$="r")
	{
		background:#4C4CFF;


	}



	
